{% load static %}

<html lang="ru"
      style="padding: 0; margin: 0; width: {{ generator.background_image.width }}px; height: {{ generator.background_image.height }}px;">
<head>
    <meta charset="UTF-8">
    <meta name="imgkit-width" content="{{ generator.background_image.width }}">
    <meta name="imgkit-height" content="{{ generator.background_image.height }}">
    <title>{{ generator.name }}</title>
    <base href="{{ media_full_url }}">

    {% autoescape off %}
        <style>
            {{ generator.css }}
        </style>
    {% endautoescape %}

</head>

<body style="padding: 0; margin: 0;">

<img src="{{ generator.background_image.url }}" alt="">

{% for image in generator.images.all %}
    <img style="position: absolute; top: {{ image.top }}px; left: {{ image.left }}px; z-index: {{ image.zindex }}"
         src="{{ image.image.url }}" alt="">
{% endfor %}

{% autoescape off %}
    {% for field in generator.fields.all %}
        <div style="position: absolute; top: {{ field.top }}px; left: {{ field.left }}px; z-index: {{ field.zindex }}">
            {{ field.html|recursive_render:data }}
        </div>
    {% endfor %}
{% endautoescape %}

</body>
</html>
