:root {
    --color-grey-base: #999 !important;
    --color-grey-dark: #666 !important;
}

.sidebar-content .nav .app.active ul {
    max-height: none !important;
}

.actions {
    width: auto !important;
}

#changelist-filter {
    order: 0 !important;
}

#changelist {
    margin: 0 !important;
}

#searchbar {
    border: 0 !important;
}

#changelist-search > div:first-child > input[type="submit"] {
    box-shadow: none;
    border: 0;
    color: rgb(184, 194, 204);
    line-height: 1.9;
}

#toolbar {
    border: 0 !important;
}

.main {
    padding-bottom: 0 !important;
}

input[type="checkbox"] {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"]:checked:after {
    margin: 0 !important;
}

select {
    line-height: 1 !important;
}

#searchbar {
    height: 50px !important;
    padding-left: 50px !important;
}

.addlink,
.changelink {
    border: 1px gray solid;
    padding: 1px !important;
    border-radius: 4px;
    background-position: center !important;
}

.content > div.module table caption {
    background-color: #12283a !important;
}

body .content > div.module table caption a {
    color: white !important;
}

.main-wrapper {
    z-index: 1;
}

.sidebar-wrapper {
    z-index: 0;
}

body {
    overflow-x: auto !important;
}

@media all and (max-width: 900px) {
    .header {
        height: auto !important;
    }
    .main-wrapper {
        min-width: 500px;
    }
    #changelist {
        min-width: 500px;
    }
    #changelist-filter {
        max-width: 200px;
    }
    .filtered #changelist-form .results {
        max-width: 260px !important;
        width: 260px;
    }
    #changelist-search {
        width: 100%;
    }
    #changelist-form .results {
        max-width: 100% !important;
    }
}

table#result_list .sortoptions .sortpriority {
    text-align: center;
}

.select2-selection__clear {
    min-width: 14px;
}

.select2-selection__rendered {
    overflow: hidden !important;
    margin-right: 40px;
}

.select2-container--open {
    width: 100% !important;
    min-width: max(428px, 20em) !important;
}
