/*!**/
/*    DJANGO Admin styles*/
/**!*/

@import url(fonts.css);
@import url(../../overrides.css);

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
}

p {
    line-height: 140%;
}

h1 {
    font-weight: 300;
    font-size: 20px;
    color: #666;
}

ul > li {
    padding: 1px 0;
}

form {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 0;
    min-width: 0;
    padding: 0;
}

.nowrap {
    white-space: nowrap;
}

td, th {
    line-height: 16px;
    border-bottom: 1px solid #eee;
}

th {
    text-align: left;
}

thead th,
tfoot td {
    color: #666;
}

tr:nth-child(odd), .row-form-errors {
    background: #fff;
}

thead th {
    line-height: normal;
    text-transform: uppercase;
    background: #f6f6f6;
}

table thead th .text span {
    display: block;
}

table thead th .text a {
    display: block;
    cursor: pointer;
}

table thead th.sorted:hover a.sortremove {
    visibility: visible;
}

table thead th.sorted .sortoptions {
    text-align: right;
}

table thead th.sorted .sortoptions a {
    position: relative;
    display: inline-block;
    background: url(../img/sorting-icons.svg) 0 0 no-repeat;
    background-size: 14px auto;
}

table thead th.sorted .sortoptions a.sortremove:focus,
table thead th.sorted .sortoptions a.sortremove:hover {
    background-position: 0 -14px;
}

input, textarea, select, .form-row p, form .button {
    margin: 2px 0;
    vertical-align: middle;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #79aec8;
    cursor: pointer;
}

.button.default, input[type=submit].default, .submit-row input.default {
    float: right;
    background: #417690;
}

.module {
    border: none;
    margin-bottom: 30px;
    background: #fff;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    text-align: left;
    background: #79aec8;
}

.module caption,
.inline-group h2 {
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.module table {
    border-collapse: collapse;
}

ul.messagelist li {
    background: #dfd url(../img/icon-yes.svg) 40px 12px no-repeat;
}

ul.messagelist li.warning {
    background: #ffc url(../img/icon-alert.svg) 40px 14px no-repeat;
    }

ul.messagelist li.error {
    background: #ffefef url(../img/icon-no.svg) 40px 12px no-repeat;
}

.errors input, .errors select, .errors textarea,
td ul.errorlist + input, td ul.errorlist + select, td ul.errorlist + textarea {
    border: 1px solid #ba2121;
}

div.breadcrumbs {
    background: #79aec8;
    border: none;
    text-align: left;
}

.viewlink, .inlineviewlink {
        background: url(../img/icon-viewlink.svg) 0 1px no-repeat;
}

.addlink {
    background: url(../img/icon-addlink.svg) 0 1px no-repeat;
}

.changelink, .inlinechangelink {
    background: url(../img/icon-changelink.svg) 0 1px no-repeat;
}

.deletelink {
    background: url(../img/icon-deletelink.svg) 0 1px no-repeat;
}

.object-tools a:link, .object-tools a:visited {
    float: left;
    background: #999;
    letter-spacing: 0.5px;
    color: #fff;
}

.object-tools a.viewsitelink, .object-tools a.golink,.object-tools a.addlink {
    background-repeat: no-repeat;
    background-position: right 7px center;
}

.object-tools a.viewsitelink, .object-tools a.golink {
    background-image: url(../img/tooltag-arrowright.svg);
}

.object-tools a.addlink {
    background-image: url(../img/tooltag-add.svg);
}

.main > .content {
    flex:  1 0;
    max-width: 100%;
}

#content {
    padding: 20px 40px;
}

#content-main {
    float: left;
    width: 100%;
}

#content-related {
    float: right;
    width: 260px;
    position: relative;
    margin-right: -300px;
}

.delete-confirmation form .cancel-link {
    display: inline-block;
}

.delete-confirmation form .cancel-link:active,
.delete-confirmation form .cancel-link:focus,
.delete-confirmation form .cancel-link:hover {
    background: #ccc;
}

.errorlist {
    color: red;
}
